apiVersion: v1
kind: Namespace
metadata:
  name: {{NAMESPACE}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world
  namespace: {{NAMESPACE}}
  labels:
    app: hello-world
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      imagePullSecrets:
        - name: ghcr-pull-secret
      containers:
        - name: hello-world
          image: {{IMAGE}}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: ENVIRONMENT
              value: "{{ENVIRONMENT}}"
---
apiVersion: v1
kind: Service
metadata:
  name: hello-world
  namespace: {{NAMESPACE}}
spec:
  selector:
    app: hello-world
  ports:
    - name: http
      port: 80
      targetPort: 8080
  type: ClusterIP
